@mixin responsive($size) {
    @if $size ==desktop {
        @media only screen and (min-width:750px) {@content};
    }
    @if $size == Phones {
        @media only screen and (max-width:500px){@content};
    }
}


@include responsive(desktop){
.appContainer {
  position: relative;
  background:var(--white-bg);
  height:100vh;
  overflow-y:scroll;

}

.productContaainer {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 96vh;
  overflow-y: none;
  .filterDiv {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    background: var(--blur-bg);
    z-index: 999;
    .filterOptions {
      flex-basis: 18%;
      background: var(--white-bg);
      padding: 0px 30px;
      overflow-y: scroll;
      .filterButton {
        padding: 12px 15px;
       border: 0.2px solid var(--line-rgba);
        border-radius:7px;
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:var(--line);
        &:hover {
          cursor: pointer;
        }
        svg {
          margin-left: 10px;
        }
      }
      .filterSettings {
        margin-top: 70px;
        p {
          margin: 8px 0;
          font-size: 14px;
          display:flex;
          width:100%;
          align-items:center;
          justify-content:space-between;
          color: var(--line);
          font-family: Mulish;
            font-size: 14px;
         font-style: normal;
          font-weight: 300;
           line-height: 18px;
          letter-spacing: 0em;
        // text-align: left;




        }
        input {
          padding: 11px 16px;
          margin-bottom: 16px;
          border: 0.2px solid var(--line-rgba);
          width: 100%;
          border-radius:7px;
          background:none;
        }
        .pattern {
          margin-top: 70px;
          div {
            display: flex;
              color:var(--line);

            justify-content: space-between;
            align-items: center;
            border: 0.2px solid  var(--line-rgba);
            padding: 11px 16px;
            border-radius:7px;
            span {
              display: flex;
              align-items: center;
              input {
                margin-bottom: 0;
                padding: 0;
                width: 20px;
                height: 20px;
                border-radius: 7px;
                border: 0.2px solid var(--line-rgba);

              }
            }
          }
        }
        .filterSubmit {
          margin-top: 70px;
          p {
            padding: 11px 0px;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;
            &.save {
              background: var(--black-bg);
              color: var(--white-bg);
              justify-content:center;
            }
            &.reset {
              color: var(--black-bg);
              border: 1px solid var(--black-bg);
              justify-content:center;
            }
          }
        }
        .dropTrigger {
          padding: 11px 16px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          border: 0.2px solid var(--line-rgba);
          align-items: center;
          border-radius:7px;
          font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: var(--line);


          &:hover {
            cursor: pointer;
          }
        }
        ul {
          list-style-type: none;

          .header{
            border-radius:7px;
            margin-bottom: 16px;

          }
          li {
            padding: 11px 16px;
            border: 0.2px solid var(--line-rgba);
            width: 100%;
            display: flex;
            justify-content: space-between;

            span{
              color:var(--line);
            }
          }
        }
      }
    }
  }
  .categories {
    flex-basis: 10%;
    // height: 80vh;
    h4 {
      padding: 16px 30px;
      border-bottom: 2px solid;
      color:var(--black-bg)
    }
    ul {
      list-style-type: none;
      li {
        padding: 12px 15px;
        border: 0.2px solid var(--line-rgba);
        font-size: 16px;
        text-align: center;
        color:var(--line);
        font-family: Mulish;
          font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
       letter-spacing: 0em;
       text-transform:capitalize;
        //  text-align: left;

        &:hover {
          background: #797774;
          color:var(--white-bg);
          cursor: pointer;
        }
      }
      .active {
        background-color: var(--line-rgba) !important;
        color: var(--white-bg);
      }
    }
    .filterButton {
      padding: 12px 15px;
      border: 0.2px solid var(--line);
      font-size: 16px;
      color:var(--black-bg);
      text-align: center;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .productDiv {
    display: flex;
    flex-basis: 70%;
    flex-flow: row wrap;
    // justify-content: space-between;
    overflow-y: scroll;
    height: 95%;
    padding:0 8px;
    .product {
      cursor: pointer;
      flex-basis: 30%;
      position: relative;
      margin:0 12px;
      height: 278px;
      border-radius: 7px;
      // margin: 16px 0px;
      img {
        width: 100%;
        height:100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 7px;
      }
      .productDetails {
        position: absolute;
        bottom: 0;
        background: rgba(13, 13, 13, 0.5);
        color: var(--white-bg);
        // height: 94px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 7px 7px;
        .productDescription {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color:var(--black-bg);
        }
        .priceAndAdd {
          display: flex;
          align-items: center;
          padding-top: 10px;

          span{
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0em;
            color:var(--white-bg)

          }
          .addProduct {
            margin-left: auto;
            position: relative;
            z-index: 9999;
          }
        }
      }
    }
  }
  .frame {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    position: relative;
    width: 10%;
    justify-content: center;
    height:100%;
    p {
      font-size: 50px;
      font-weight: 900;
      transform: rotate(90deg);
      color:var(--line-rgba);
      line-height: 1;
      padding: 21px 121px;
      background: var(--gradient);
      border-radius: 7px;
      width: 76vh;
    height: 20vh;
    position: absolute;
    bottom: 37vh;
    display:flex;
    align-items:center;
    text-transform:uppercase;
    }
  }
}
.sc_search,.sc_search_none{
  display:none;
}
}
@include responsive(Phones){
.appContainer {
  position: relative;
  background:var(--white-bg);
  height:100vh;
  overflow-y:scroll;

}

.productContaainer {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  .filterDiv {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    background: rgba(13, 13, 13, 0.7);
    z-index: 999;
    .filterOptions {
      flex-basis: 45%;
      background: var(--white-bg);
      padding: 0px 15px;
      overflow-y: scroll;

      .filterButton {
        padding: 12px 15px;
        border: 0.2px solid var(--line);
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
          color:var(--black-bg)
        }
        &:hover {
          cursor: pointer;
        }
        svg {
          margin-left: 10px;
        }
      }
      .filterSettings {
        margin-top: 70px;
        p {
          color:var(--black-bg);
          margin: 8px 0;
          font-size: 14px;
          width:100%;
          display:flex;
          justify-content:space-between;
        }
        input {
          background:none;
          padding: 11px 16px;
          margin-bottom: 16px;
          border: 0.2px solid var(--line-rgba);
          width: 100%;
        }
        .pattern {
          margin-top: 70px;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.2px solid var(--line-rgba);
            padding: 11px 2px;
            span {
              display: flex;
              align-items: center;
              input {
                margin-bottom: 0;
                padding: 0;
                width: 20px;
                height: 20px;
                border-radius: 7px;
              }
            }
          }
        }
        .filterSubmit {
          margin-top: 70px;
          p {
            padding: 11px 0px;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;
            &.save {
              background: var(--black-bg);
              color: var(--white-bg);
              justify-content:center;
            }
            &.reset {
              color: var(--black-bg);
              border: 1px solid var(--black-bg);
              justify-content:center;

            }
          }
        }
        .dropTrigger {
          padding: 11px 2px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          border: 0.2px solid var(--line-rgba);
          align-items: center;
          &:hover {
            cursor: pointer;
          }
        }
        ul {
          list-style-type: none;

          .header{
            border-radius:7px;
            margin-bottom: 16px;
            
          }
          li {
            padding: 11px 16px;
            border: 0.2px solid var(--line-rgba);
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .categories {
    width: 50%;
    // height: 80vh;
    padding-right:12px;
    h4 {
      padding: 16px 30px;
      border-bottom: 2px solid;
      color:var(--black-bg);
    }
    ul {
      list-style-type: none;
      .false{
        color:var(--black-bg)
      }
      li {
        padding: 12px 15px;
        border: 0.2px solid var(--line-rgba);
        font-size: 16px;
        text-align: center;
        &:hover {
          background: rgba(121, 119, 116, 0.2);
          cursor: pointer;
        }
      }
      .active {
        background-color: #0d0d0d !important;
        color: var(--white-bg);
      }
    }
    .filterButton {
      padding: 12px 15px;
      border: 0.2px solid var(--line-rgba);
      font-size: 16px;
      text-align: center;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:var(--black-bg);
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .productDiv {
    display: flex;
    flex-basis: 50%;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow-y: scroll;
    height: 100%;
    // padding:0 8px;


    .product {
      cursor: pointer;
      flex-basis: 100%;
      position: relative;
      // height: 278px;
      border-radius: 7px;
      margin: 16px 0px;
      height:25%;
      img {
        width: 100%;
        height:100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 7px;
      }
      .productDetails {
        position: absolute;
        bottom: 0;
        background: var(--blur-bg);
        color: var(--white-bg);
        // height: 94px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 7px 7px;
        .productDescription {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color:var(--black-bg);
        }
        .priceAndAdd {
          display: flex;
          align-items: center;
          padding-top: 10px;
          .addProduct {
            margin-left: auto;
            position: relative;
            z-index: 9999;
          }
        }
      }
    }
  }
  .frame {
    flex-basis: 10%;
    display: none;
    align-items: center;
    position: relative;
    max-width: 10%;
    justify-content: center;
    p {
      font-size: 50px;
      font-weight: 900;
      transform: rotate(90deg);
      color: var(--line-rgba);
      line-height: 1;
      padding: 21px 121px;
      background: linear-gradient(
        145.58deg,
        rgba(235, 87, 87, 0.1) -86.12%,
        rgba(164, 255, 250, 0.1) 183.27%
      );
      border-radius: 7px;
    }
  }
}
.sc_search_none{
  display:none;
}
.sc_search{
  width: 100%;
    padding:4px 8px;
    display: flex;
    justify-content: center;
    position:absolute;
    // z-index:-1;

    input{
      width:100%;
      border-radius:7px;
      height:40px;
      border:1px solid var(--line);
      padding:4px 8px;
      background:none;
    }
}
}
// }
