@mixin responsive($size) {
    @if $size ==desktop {
        @media only screen and (min-width:750px) {@content};
    }
    @if $size == Phones {
        @media only screen and (max-width:500px){@content};
    }
}


@include responsive(desktop){
.appContainer {
  position: relative;
}

.productContaainer {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80vh;
  overflow-y: none;
  .filterDiv {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    background: rgba(13, 13, 13, 0.7);
    z-index: 999;
    .filterOptions {
      flex-basis: 18%;
      background: white;
      padding: 0px 30px;
      overflow-y: scroll;
      .filterButton {
        padding: 12px 15px;
        border: 0.2px solid #797774;
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        svg {
          margin-left: 10px;
        }
      }
      .filterSettings {
        margin-top: 70px;
        p {
          margin-bottom: 8px;
          font-size: 14px;
        }
        input {
          padding: 11px 16px;
          margin-bottom: 16px;
          border: 0.2px solid #797774;
          width: 100%;
        }
        .pattern {
          margin-top: 70px;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.2px solid #797774;
            padding: 11px 16px;
            span {
              display: flex;
              align-items: center;
              input {
                margin-bottom: 0;
                padding: 0;
                width: 20px;
                height: 20px;
                border-radius: 7px;
              }
            }
          }
        }
        .filterSubmit {
          margin-top: 70px;
          p {
            padding: 11px 0px;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;
            &.save {
              background: black;
              color: white;
            }
            &.reset {
              color: black;
              border: 1px solid black;
            }
          }
        }
        .dropTrigger {
          padding: 11px 16px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          border: 0.2px solid #797774;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
        }
        ul {
          list-style-type: none;
          li {
            padding: 11px 16px;
            margin-bottom: 16px;
            border: 0.2px solid #797774;
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .categories {
    flex-basis: 10%;
    // height: 80vh;
    h4 {
      padding: 16px 30px;
      border-bottom: 2px solid;
    }
    ul {
      list-style-type: none;
      li {
        padding: 12px 15px;
        border: 0.2px solid #797774;
        font-size: 16px;
        text-align: center;
        &:hover {
          background: rgba(121, 119, 116, 0.2);
          cursor: pointer;
        }
      }
      .active {
        background-color: #0d0d0d !important;
        color: white;
      }
    }
    .filterButton {
      padding: 12px 15px;
      border: 0.2px solid #797774;
      font-size: 16px;
      text-align: center;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .productDiv {
    display: flex;
    flex-basis: 70%;
    flex-flow: row wrap;
    // justify-content: space-between;
    overflow-y: scroll;
    height: 80vh;
    padding:0 8px;
    .product {
      cursor: pointer;
      flex-basis: 30%;
      position: relative;
      margin:0 12px;
      height: 278px;
      border-radius: 7px;
      // margin: 16px 0px;
      img {
        width: 100%;
        height:100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 7px;
      }
      .productDetails {
        position: absolute;
        bottom: 0;
        background: rgba(13, 13, 13, 0.5);
        color: white;
        // height: 94px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 7px 7px;
        .productDescription {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .priceAndAdd {
          display: flex;
          align-items: center;
          padding-top: 10px;
          .addProduct {
            margin-left: auto;
            position: relative;
            z-index: 9999;
          }
        }
      }
    }
  }
  .frame {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 10%;
    justify-content: center;
    p {
      font-size: 50px;
      font-weight: 900;
      transform: rotate(90deg);
      color: rgba(121, 119, 116, 0.3);
      line-height: 1;
      padding: 21px 121px;
      background: linear-gradient(
        145.58deg,
        rgba(235, 87, 87, 0.1) -86.12%,
        rgba(164, 255, 250, 0.1) 183.27%
      );
      border-radius: 7px;
    }
  }
}
.sc_search,.sc_search_none{
  display:none;
}
}
@include responsive(Phones){
.appContainer {
  position: relative;
}

.productContaainer {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80vh;
  overflow-y: none;
  .filterDiv {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    background: rgba(13, 13, 13, 0.7);
    z-index: 999;
    .filterOptions {
      flex-basis: 45%;
      background: white;
      padding: 0px 15px;
      overflow-y: scroll;

      .filterButton {
        padding: 12px 15px;
        border: 0.2px solid #797774;
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        svg {
          margin-left: 10px;
        }
      }
      .filterSettings {
        margin-top: 70px;
        p {
          margin-bottom: 8px;
          font-size: 14px;
        }
        input {
          padding: 11px 16px;
          margin-bottom: 16px;
          border: 0.2px solid #797774;
          width: 100%;
        }
        .pattern {
          margin-top: 70px;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.2px solid #797774;
            padding: 11px 16px;
            span {
              display: flex;
              align-items: center;
              input {
                margin-bottom: 0;
                padding: 0;
                width: 20px;
                height: 20px;
                border-radius: 7px;
              }
            }
          }
        }
        .filterSubmit {
          margin-top: 70px;
          p {
            padding: 11px 0px;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;
            &.save {
              background: black;
              color: white;
            }
            &.reset {
              color: black;
              border: 1px solid black;
            }
          }
        }
        .dropTrigger {
          padding: 11px 16px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          border: 0.2px solid #797774;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
        }
        ul {
          list-style-type: none;
          li {
            padding: 11px 16px;
            margin-bottom: 16px;
            border: 0.2px solid #797774;
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .categories {
    width: 50%;
    // height: 80vh;
    padding-right:12px;
    h4 {
      padding: 16px 30px;
      border-bottom: 2px solid;
    }
    ul {
      list-style-type: none;
      li {
        padding: 12px 15px;
        border: 0.2px solid #797774;
        font-size: 16px;
        text-align: center;
        &:hover {
          background: rgba(121, 119, 116, 0.2);
          cursor: pointer;
        }
      }
      .active {
        background-color: #0d0d0d !important;
        color: white;
      }
    }
    .filterButton {
      padding: 12px 15px;
      border: 0.2px solid #797774;
      font-size: 16px;
      text-align: center;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .productDiv {
    display: flex;
    flex-basis: 50%;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow-y: scroll;
    height: 80vh;
    // padding:0 8px;


    .product {
      cursor: pointer;
      flex-basis: 100%;
      position: relative;
      height: 278px;
      border-radius: 7px;
      margin: 16px 0px;
      img {
        width: 100%;
        height:100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 7px;
      }
      .productDetails {
        position: absolute;
        bottom: 0;
        background: rgba(13, 13, 13, 0.5);
        color: white;
        // height: 94px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 7px 7px;
        .productDescription {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .priceAndAdd {
          display: flex;
          align-items: center;
          padding-top: 10px;
          .addProduct {
            margin-left: auto;
            position: relative;
            z-index: 9999;
          }
        }
      }
    }
  }
  .frame {
    flex-basis: 10%;
    display: none;
    align-items: center;
    position: relative;
    max-width: 10%;
    justify-content: center;
    p {
      font-size: 50px;
      font-weight: 900;
      transform: rotate(90deg);
      color: rgba(121, 119, 116, 0.3);
      line-height: 1;
      padding: 21px 121px;
      background: linear-gradient(
        145.58deg,
        rgba(235, 87, 87, 0.1) -86.12%,
        rgba(164, 255, 250, 0.1) 183.27%
      );
      border-radius: 7px;
    }
  }
}
.sc_search_none{
  display:none;
}
.sc_search{
  width: 100%;
    padding:4px 8px;
    display: flex;
    justify-content: center;
    position:absolute;
    // z-index:-1;

    input{
      width:100%;
      border-radius:7px;
      height:40px;
      border:1px solid rgba(121, 119, 116, 1);
      padding:4px 8px;

    }
}
}
// }
